@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    background-color: #112240;
    margin: 5px;
    font-family: "Montserrat", sans-serif;
}


 /*  Navigation Bar Styling Starts from here*/ 

.navigation {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 2%;
    transition: ease-in-out 0.5s;
}

.navigation li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    font-weight: 600;
    transition: ease-in-out 0.4s;
    color: rgb(100, 255, 218);
    text-decoration: none;
}

.navigation li:hover {
    color: #008aa9;
}

#name a {
    font-size: 1.3em;
    font-weight: 800;
    text-decoration: none;
    transition: ease 0.3s;
    color: rgb(100, 255, 218);
}


#name a:hover {
    color:#008aa9;
}

#resume button {
    background-color:   rgb(100, 255, 218);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 13px;
    cursor: pointer;
    transition: ease 0.3s;
}

#resume button:hover {
    background-color: #008aa9;
}

#hr {
    border-radius: 20%;
    border-color: #008aa9;
}



/*  Section 1 - About Styling Starts from here*/ 

.about {
    display: flex;
    flex-direction: row;
   
    justify-content: space-around;
    align-items:center;
    margin-left: 5%;
    margin-right: 5%;
}

#aboutname {

    color: whitesmoke;
    font-size: 40px;
}

#profilepic {
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

#pfp {
    width: 80%;
}







@media (max-width: 720px) {
    
    .navigation {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        margin: 7%;
    }

    .navigation ul,li {
        margin: 10%;
        display:block;
        padding: 0px 0px;
    }


    .about {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items:center;
    }

    #aboutname {
        font-size: 33px;
        text-align: center;
        align-items: center;
        margin-top: 20%;
      }



}