@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    background-color: #112240;
    box-sizing: border-box;
    padding: 0px;
    margin: 5px;
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
}

body {
    overflow-x: hidden;
}


 /*  Navigation Bar Styling Starts from here*/ 

.navigation {
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height: 8vh;
    transition: ease-in-out 0.1s;
}

.navlinks {
    display: flex;
    color: rgb(100, 255, 218);
    justify-content: space-around;
    width: 30%;
}

.navlinks a {
    color: rgb(100, 255, 218);
    text-decoration: none;
    font-weight: 600;
}

.navlinks li {
     list-style: none;
}

.burger {
    display:none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 4px;
    background-color: rgb(100, 255, 218);
    margin: 4px;
    border-radius: 9px;
    transition: all 0.3s ease-in;
}



.navlinks a:hover {
    color: #008aa9;
    transition: ease-in-out 0.4s;

}




.logo a {
    font-size: 1.3em;
    font-weight: 800;
    text-decoration: none;
    transition: ease 0.3s;
    color: rgb(100, 255, 218);
}


.logo a:hover {
    color:#008aa9;
}

#hr {
    border-radius: 20%;
    border-color: #008aa9;
}



/*  Section 1 - Heading Styling Starts from here*/ 


section {
    margin: 10%;
    margin-bottom: 15%;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    margin-left: 5%;
    margin-right: 5%;
}

#aboutname {
    color: whitesmoke;
    font-size: 40px;
    animation: fadeIn 2s;
}



#profilepic {
    align-items: center;
    text-align: center;
    justify-content: space-around;
    animation: fadeIn 3s;
}

#pfp {
    width: 80%;
}



/* About Styling Starts here */


.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
}





@media screen and (max-width: 1024px) {

  .navlinks {
      width: 60%;
  }

}



/* About Styling Starts here */

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:baseline;
}






@media screen and (max-width: 768px) {
    
    /* Nav Section */

    body {
        overflow-x: hidden;
    }

    .navigation.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin:0px;
        box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
      }

    .navlinks {
        position: fixed;
        right: 0px;
        height: 100vh;
        padding: 6vh;
        top: 7vh;
        margin-bottom;
        background-color: #112240;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius:  0 0  10px 10px;
        width: 100%;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        transition: transform 0.4s ease-in;
        -webkit-transition:  transform 0.4s ease-in;
        -moz-transition: transform 0.4s ease-in;
    }

   

    .nav-active {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
    }
  
   .burger{
       display: block;
   }

   .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
   }

   
   .toggle .line2 {
    opacity: 0;
}

   .toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
   }


    
   /* About Section */


    .heading {
        display: flex;
        justify-content: space-around;
        align-items:center;
        height: 70vh;
    }

    #aboutname {
        font-size: 30px;
        text-align: left;
        align-items: center;
        margin-top: 20%;
      }

    #profilepic {
        display:none;
    }

    /* About Section starts here */

    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:baseline;
    }
    





}


/* Animations */

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

